BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: true
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: AcrossComments
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
PointerAlignment: Left
ReferenceAlignment: Left
AfterCaseLabel: false
AfterControlStatement: Never
IndentAccessModifiers: false
SortIncludes: Never